/* profile.css */
/* Set store style for user interface */

.monochrome{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.spider-container {
    max-width: 400px;
    width : 50%;
}