/* lecture.css */
/* Set store style for user interface */

.plyr {
    height: 100%;
    width :100%;
}

.wrapper{
    display: flex;
    justify-content:center;
    width: 70%;
}

/* @media only screen and (max-width: 7680px) {
    .wrapper{
        width: 60%;
    }
  } */
  

.plyr__video-wrapper {
    position: relative;
}

.plyr__video-wrapper iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.nextbtn {
    transition : all 0.1s;
}
.nextbtn:hover {
    background-color : #00529b;
}