.navbar {
    width : 100%;
    height : 100px;
}

.padding-landing { 
    padding-left : 5%;
    padding-right : 5%;
}

.navbar-container {
    justify-content: center;
    align-items: center;
    padding-left : 3%;
    padding-right : 3%;
}

.landing-container {
    padding-left : 3%;
    padding-right : 3%;
}

.hoverable-text {
    cursor: pointer;
    position: relative;
}

.hoverable-text::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hoverable-text:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hoverable-text::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform .3s ease;
}
  
.item-space {
    margin-left : 3vw;
}

.shadow-text {
    text-shadow:0 3px 3px rgba(0, 0, 0, 0.45);
}
.bulb{
    padding-right : 10%;
    padding-top : 5%;
}
.bulb-container {
    width : 10vw;
}
.title-text {
    margin-top : -10%;
}
.flip {
    transform: rotate(180deg);
}

.wavediv {
    background: url('./../../assets/wave.svg') bottom center no-repeat;
    background-size: contain;
}
.flip-wavediv  {
    background: url('./../../assets/flip-wave.png') top center no-repeat;
    background-size: contain;
}


.border-white {
    border-bottom: #FEFCF4;
}

.margin-circle {
    margin-right : 10%;
}