/* App.css */
/* Set store style for user interface, used in application */

.contentlist {
    transition : all 0.07s;
    cursor : pointer;
    background-color :white;
}
.contentlist:hover {
    background-color : #E7E5DE; 
}

.primary-contentlist {
    transition : all 0.07s;
    cursor : pointer;
}
.primary-contentlist:hover {
    background-color : #0052a0; 
}

.hoverable {
    transition : all 0.1s;
}
.hoverable:hover {
    background-color: #014686;
}
.gray-hoverable {
    transition : all 0.1s;
}
.gray-hoverable:hover {
    background-color: #e8eaeb;
}