/* activity.css */
/* Set store style for user interface */

.text-wrap {
    /* display: table-caption; */
    overflow-wrap: break-word;
    /* text-overflow:ellipsis; */
}

.test:hover {
    background-color : red;
}

.hintbox {
    background-color: white;
    width : 100%;
    height: 100px;
    z-index: 10;
    padding-bottom: 15vw;
}

.hint-tab {
    border-radius: 5px 20px 0 0;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
    z-index: 0;
    transition: all 0.1s;
    cursor: pointer;
}

.hint-tab:hover {
    background-color: #c6850d;
}

.active-hint {
    background-color: #F2AE2E;
}
.inactive-hint {
    background-color: #eecd90;
}

.disabled-hint {
    background-color: #eecd90;
}
.disabled-hint:hover {
    cursor:not-allowed;
}

.hinttext {
    margin : auto;
}
.requirementtext {
    width : 80%;
}
.dragable:hover {
    background-color: #fafafa;
}

.dragging {
    background-color: #e7e7e7;

}
.ribbon-points {
    position : absolute;
    padding-top : 40px;
    padding-bottom : 30px;
    padding-right : 10px;
    padding-left : 10px;
    right : 0;
    top : 8%;
    background: url('./../../assets/ribbon.png') center center no-repeat;
    background-size :contain;
}
.star {
    width : 40px;
}
.z--10 {
    z-index: 0;
}

.big-box {
    padding-top : 20px;    
}

.back {
    z-index: 1;
}
.box-plate {
    z-index: 11;
}

.table-box {
    min-width: 150px;
}

.cell {
    color : white;
    font-size : 20px;
}

.header {
    background-color: #3766BA;
    color : white;
    font-size : 22px;
}
.even {
    background-color: #AABEE2;
    border-top : 3px solid white;
    color : black;
}
.odd {
  background-color: #D3DEF0;
  border-top : 3px solid white;
  color : black;
}
.choicebox {
    max-width: 150px;
}
.questionbox {
    width: 150px;
    height: 50px;
}

.question img {
    width: 30%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.peer-drawer-container {
    height : 400px;
}

.gap-table {
    gap : 15px;
}

.bg-box {
    background-color: 	rgb(255,255,255, 0.9);
}

.col-box {
    /* padding-top: -10px; */
    transform: translate(0, -15px);
}
.question-box  {
    width : 150px;
    height : 50px;
}